TELEGRAM_TOKEN=8755021895:AAGQz1bfWydua3kCEOKFp5HprOxfPUdOuLO
ANTHROPIC_API_KEY=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
SUPABASE_URL=https://vnwybggdtfqcsomdordp.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZud3liZ2dkdGZxY3NvbWRvcmRwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3ODM1NTcsImV4cCI6MjA5NjM1OTU1N30.klLHrTu2DwiBzPTOSln6eNfruhHogEEqS506NeQjcdM
